.store
	margin-bottom: 60px
	&__header
		display: flex
		column-gap: 30px
		text-transform: uppercase
		padding-bottom: 60px
		@include media-breakpoint-down(lg)
			flex-direction: column
	&__title
		font-weight: 700
		flex: 1 0 auto
		@include media-breakpoint-down(lg)
			margin-bottom: 15px
	&__descr
	&__list
		display: grid
		grid-template-columns: repeat(3, 1fr)
		gap:30px
		@include media-breakpoint-down(lg)
			grid-template-columns: repeat(2, 1fr)
	&__list-item
		position: relative
		&::after
			content: ''
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			background-color: rgba(#fff, 0.6)
	&__list-image
		object-fit: cover
		width: 100%
		height: 100%
		position: relative
	&__list-link
		display: flex
		align-items: center
		justify-content: center
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		text-transform: uppercase
		color: $dark
		text-decoration: none
		z-index: 5
		font-weight: 700

.shop
	&__header
		display: flex
		align-items: center
		column-gap: 30px
		padding-bottom: 30px
	&__logo
		display: flex
		align-items: center
		justify-content: center
		border: 1px solid $gray
		width: 200px
		height: 100px
		img
			object-fit: cover
	&__info
		width: 50%
	&__name
		text-transform: uppercase
		font-size: 38px
		font-weight: 700
	&__category
		color: #aba9a9
	&__body
		display: flex
		gap: 30px
		@include media-breakpoint-down(lg)
			flex-direction: column
	&__image
		width: 50%
		@include media-breakpoint-down(lg)
			width: auto
		img
			object-fit: cover
			width: 100%
			height: 100%
	&__descr
		width: 50%
		@include media-breakpoint-down(lg)
			width: auto
	&__descr-list
		display: grid
		grid-template-columns: repeat(2, 1fr)
		gap: 30px
		margin-bottom: 30px
		@include media-breakpoint-down(sm)
			grid-template-columns: repeat(1, 1fr)

	&__descr-item
		border-bottom: 1px solid $gray
		display: flex
		align-items: center
		padding-bottom: 30px
	&__descr-icon
		img
			margin-right: 10px
	&__about